@using DURAND.Models
@using DURAND.Helpers
@model DURAND.Models.DrogaXPaciente

@{
    ViewBag.Title = "AgregarMedicamento";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    Paciente unPaciente = ViewBag.Paciente;

}
<div class="container">
    <div class="col-4 col-md-8">
        <h1 class="mt-4 mb-3">
            Agregar Medicamento
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-4">
        @using (@Html.BeginForm("AgregarMedicamentoOK", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" id="IDPacientex" name="IDPacientex" value="@unPaciente.Id" />
            <input type="hidden" id="Altura"      name="Altura"      value="@unPaciente.Altura" />
            <input type="hidden" id="Peso"        name="Peso"        value="@unPaciente.Peso" />

            <div class="control-group form-group">
                <div class="controls">
                    @Html.Label("Droga:") @Html.DropDownList("Nombre", (IEnumerable<SelectListItem>)ViewBag.drogaList, new { required = "required", @class = "form-control" })
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    @Html.Label("Dosis del paciente"): @Html.TextBoxFor(model => model.DosisPaciente, new { required = "required", @class = "form-control" })
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    @Html.Label("Forma de administración:"): @Html.TextBoxFor(model => model.Observaciones, new { required = "required", @class = "form-control" })
                </div>
            </div>
            <p><input type="submit" value="Agregar Medicamento &raquo;" class="btn btn-outline-dark"></p>
        }
    </div>
</div>
    <div class="col-md-8 float-left">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th scope="col">Droga</th>
                    <th scope="col">Dosis</th>
                    <th scope="col">Dosis del paciente</th>
                    <th scope="col">Formas de observación</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (DrogaXPaciente unaDroga in ViewBag.drogaXPacienteList)
                    {
                <tr>
                    <td>@unaDroga.NombreDroga</td>
                    <td>@unaDroga.DosisEstandar kg</td>
                    <td>@unaDroga.DosisPaciente</td>
                    <td>@unaDroga.Observaciones</td>
                </tr>
                    }
                }
            </tbody>

        </table>
    </div>