@using DURAND.Models
@using DURAND.Helpers
@model DURAND.Models.Visita

@{
    ViewBag.Title = "AgregarVisita";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";

    Paciente unPaciente = ViewBag.Paciente;
}

<div class="container">
    <div class="col-sm-2 col-md-4">
        <h1 class="mt-4 mb-3">
            Agregar Visita
        </h1>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-4">
            @using (@Html.BeginForm("AgregarVisitaOk", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" id="IDPacientex" name="IDPacientex" value="@unPaciente.Id" />

                <div class="control-group form-group">
                    <div class="controls">
                        Fecha de visita: @Html.TextBoxFor(model => model.FechaVisita, new { @type = "date", @class = "form-control" })
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        Peso: @Html.TextBoxFor(model => model.Peso, new { @class = "form-control" })
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        Altura:@Html.TextBoxFor(model => model.Altura, new { @class = "form-control" })
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        Observaciones:@Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control" })
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                    </div>
                    Nombre del medico:@Html.DropDownList("nombreMedico", (IEnumerable<SelectListItem>)ViewBag.medicoList, new { @class = "form-control" })
                </div>
                <p><input type="submit" value="Agregar Visita &raquo;" class="btn btn-outline-dark"></p>
            }
        </div>

        <div class="jumbotron jumbotron col-lg-4 col-md-4 float-right" style="right:-100px;">
            <div class="container">
                <p class="lead">
                    <b>Nombre: </b>                 @unPaciente.Nombre          </br>
                    <b>Apellido: </b>               @unPaciente.Apellido        </br>
                    <b>DNI: </b>                    @unPaciente.DNI             </br>
                    <b>Domicilio: </b>              @unPaciente.Domicilio       </br>
                    <b>Obra social: </b>            @ViewBag.NombreObraSocial   </br>
                    <b>Patología: </b>              @ViewBag.NombrePatologia    </br>
                    <b>Fecha de nacimiento: </b>    @FormatosHelper.FormatearFecha(unPaciente.FechaDeNacimiento) </br>
                </p>
            </div>
        </div>
    </div>

   
</div>