@using DURAND.Models
@using DURAND.Helpers

@{
    ViewBag.Title = "HistoriaClinica";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";

    Paciente unPaciente = ViewBag.Paciente;
}
<div class="container">
    <h1 class="mt-4 mb-3">
        Historia Clínica
    </h1>
    <table class="table table-hover col-md-8 float-left">
        <thead>
            <tr>
                <th scope="col">Fecha Visita</th>
                <th scope="col">Altura</th>
                <th scope="col">Peso</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Último medico que realizo un cambio</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Visita unaVisita in ViewBag.visitasList)
                {
                    <tr>
                        <th scope="row">@FormatosHelper.FormatearFecha(unaVisita.FechaVisita)</th>
                        <td>@unaVisita.Altura cm</td>
                        <td>@unaVisita.Peso kg</td>
                        <td>@unaVisita.Observaciones</td>
                        <td>@unaVisita.MedicoDescripcion</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="offset-md-9 col-md-4">
        <div class="jumbotron jumbotron">
            <div class="container">
                <p class="lead">
                    <img src="~/Content/Foto.png" width="40%" /> </br>
                    <b>Nombre: </b>                 @unPaciente.Nombre          </br>
                    <b>Apellido: </b>               @unPaciente.Apellido        </br>
                    <b>DNI: </b>                    @unPaciente.DNI             </br>
                    <b>Domicilio: </b>              @unPaciente.Domicilio       </br>
                    <b>Obra social: </b>            @ViewBag.NombreObraSocial   </br>
                    <b>Patología: </b>              @ViewBag.NombrePatologia    </br>
                    <b>Fecha de nacimiento: </b>    @FormatosHelper.FormatearFecha(unPaciente.FechaDeNacimiento) </br>
                </p>

            </div>
        </div>
        <p><a href="@Url.Action("AgregarVisita", "Home", new { id = unPaciente.Id })" class="btn btn-outline-dark" style="margin-right: auto;" ">Añadir Visita &raquo;</a></p>
        <p><a href="@Url.Action("AgregarMedicamento", "Home")" class="btn btn-outline-dark" style="margin-right: auto;" ">Añadir Medicamentos &raquo;</a></p>
    </div>
</div>



