    @using DURAND.Models
@model Medico
@{
    ViewBag.Title = "ModificarMedico";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="container">
    <div class="col-sm-2 col-md-4">
        <h1 class="mt-4 mb-3">
            Modificar médico
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-4">
            @using (@Html.BeginForm("ModificarMedicoOk", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                //hacer que esto no se vea
                <div class="control-group form-group">
                    <div class="controls">
                        @Html.Hidden("Id:") @Html.HiddenFor(x => x.IdMedico)
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        @Html.Label("Nombre:") @Html.TextBoxFor(x => x.Nombre, new { placeholder = "Nombre", required = "required", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        @Html.Label("Apellido:") @Html.TextBoxFor(x => x.Apellido, new { placeholder = "Apellido", required = "required", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Apellido, "", new { @class = "text-danger" })
                    </div>
                </div>
                //FOTO
                <div class="control-group form-group">
                    <div class="controls">
                        @Html.Label("Especialidad:") @Html.DropDownList("nombreEspecialidad", (IEnumerable<SelectListItem>)ViewBag.especialidadList, new { @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        @Html.Label("Mail:")@Html.TextBoxFor(x => x.Mail, new { placeholder = "Mail", required = "required", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        @Html.Label("Contraseña:")@Html.TextBoxFor(x => x.Contrasenia, new { placeholder = "*****", required = "required", @class = "form-control", Type = "password", maxlength = 15 })
                        @Html.ValidationMessageFor(x => x.Contrasenia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        @Html.Label("DNI:")@Html.TextBoxFor(x => x.Dni, new { placeholder = "DNI", required = "required", @class = "form-control", maxlength = 8 })
                        @Html.ValidationMessageFor(x => x.Dni, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p><input type="submit" value="Modificar Datos &raquo;" class="btn btn-outline-dark"></p>
            }
        </div>
    </div>
</div>