@using DURAND.Models
@model Paciente
@{
    Paciente unPaciente = ViewBag.Paciente;
    ViewBag.Title = "RegistrarPaciente";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
<div class="container">
    <h1 class="mt-4 mb-3">
        Registrar Paciente
    </h1>
    <div class="row">

        @using (@Html.BeginForm("RegistrarPacienteOk", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-md-4 col-lg-6 float-left">

                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Nombre:") @Html.TextBoxFor(x => x.Nombre, new { placeholder = "Nombre", required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Apellido:") @Html.TextBoxFor(x => x.Apellido, new { placeholder = "Apellido", required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Apellido, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Sexo:") @Html.DropDownList("nombreSexo", (IEnumerable<SelectListItem>)ViewBag.sexoList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Obra Social:") @Html.DropDownList("nombreObraSocial", (IEnumerable<SelectListItem>)ViewBag.obraSocialList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Fecha de nacimiento:") @Html.TextBoxFor(x => x.FechaDeNacimiento, new { @type = "date", @class = "form-control" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Altura:") @Html.TextBoxFor(x => x.Altura, new { placeholder = "Altura", required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Altura, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Peso:") @Html.TextBoxFor(x => x.Peso, new { placeholder = "Peso", required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Peso, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>

                <div class="col-md-4 col-lg-6 float-left">

                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Patologia:") @Html.DropDownList("nombrePatologia", (IEnumerable<SelectListItem>)ViewBag.patologiaList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("DNI:") @Html.TextBoxFor(x => x.DNI, new { placeholder = "DNI", required = "required", @class = "form-control", maxlength = 8 })
                            @Html.ValidationMessageFor(x => x.DNI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Domicilio:") @Html.TextBoxFor(x => x.Domicilio, new { placeholder = "Domicilio", required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Domicilio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Telefono:") @Html.TextBoxFor(x => x.Telefono, new { placeholder = "Telefono", required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Localidad:") @Html.DropDownList("nombreLocalidad", (IEnumerable<SelectListItem>)ViewBag.localidadList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            @Html.Label("Provincia:") @Html.DropDownList("nombreProvincia", (IEnumerable<SelectListItem>)ViewBag.provinciaList, new { @class = "form-control" })
                        </div>
                    </div>

                    <p><input type="submit" value="Registrar Paciente &raquo;" class="btn btn-outline-dark"></p>

                </div>
            }
    </div>
</div>